<h2>{{ header | uppercase }}</h2>
<ul>
  <li *ngFor="let hero of heroes">
    <button type="button" class="bg-slate-900 text-white rounded-md p-4">
      <a routerLink="/details/{{ hero.id }}">
        <span>{{ hero.name | uppercase }}</span>
      </a>
    </button>
    <button
      class="bg-red-950 text-white rounded-2xl p-4"
      (click)="deteteHero(hero)"
    >
      X
    </button>
  </li>
</ul>

<div>
  <label for="">Hero Name</label>
  <input type="text" #heroName />
  <button
    class="bg-slate-800 p-2 text-white rounded-sm"
    (click)="addHero(heroName.value); heroName.value = ''"
  >
    Add Hero
  </button>
</div>

<!-- <div class="border-1 border-slate-800" *ngIf="selectedHero">
  <h2>{{ selectedHero?.name | uppercase }} Details</h2>
  <div>id: {{ selectedHero?.id }}</div>
  <label for="name">Hero Name:</label>
  <div>
    <input
      type="text"
      class="border border-slate-800 rounded-md px-4 p-1"
      id="name"
      placeholder="name"
      [(ngModel)]="selectedHero.name"
    />
  </div>
</div> -->
